
<%= form_for(@profile) do |profile_form| %>
  <% if @profile.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div>
  <select name="profile[gender]">
   <% if  @profile.gender==1%>
  <option value=1 selected="">男</option>
   <option value=0>女</option>
  <%else%>
  <option value=1 >男</option>
  <option value=0 selected="">女</option>
  <%end%>
   </select>
  </div>

  <div class="field">
    <%= profile_form.label :birth_year %><br />
    <%= profile_form.text_field :birth_year %><br />
  </div>
    <div class="field">
    <%= profile_form.label :birth_month %><br />
      <%= profile_form.text_field :birth_month %><br />
  </div>
    <div class="field">
    <%= profile_form.label :birth_day %><br />
      <%= profile_form.text_field :birth_day %><br />
  </div>

 <div class="actions">
    <%= profile_form.submit %>
  </div>

<% end %>
